:root {
  --bg-colorX: #ffffff;
  --bg-color1: #33415c;
  --bg-color2: #001233;
  --bg-color3: #ffffff;
  --bg-color4: #ffffff;
  --bg-color5: #F4F5F7;
  --bg-color6: #1e3a63;
  --bg-colorfocus:#001233;
  --bg-colorIcon: #001233;
  --bg-colorProj:#ffffff;
  --bg-colorskills:#001233;
  --text-color: #ffffff;
  --text-color2: #001233;
  --border-color: #ced4da;
  --accent-color: #adb5bd;

  --bg-card: #ffffff;
  --border: #ced4da;
  --badge: #e9ecef;
}

html.dark {
  /* Backgrounds */
  --bg-colorX: #0D1117;
  --bg-color1: #1e2a3b;   /* versi칩n oscura del #33415c */
  --bg-color2: #000000;   /* versi칩n m치s profunda del #001233 */
  --bg-color3: #0d1117;   /* reemplaza el blanco */
  --bg-color4: #0D1117;
  --bg-color5:#000000;
  --bg-color6: #000000;
  --bg-colorfocus:#0D1117;
  --bg-colorIcon: #0D1117;
  --bg-colorProj:#000000;
  --bg-colorskills:#161B22;
  /* Textos */
  --text-color: #e9ecef;  /* texto principal claro */
  --text-color2: #f8f9fa; /* texto sobre fondos oscuros */

  /* UI */
  --border-color: #343a40;
  --accent-color: #adb5bd;

  /* Cards / badges */
  --bg-card: #161b22;
  --border: #2b3035;
  --badge: #21262d;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: var(--bg-colorX);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 2;
  position: absolute;
  background-color: var(--bg-color2);
  right: 0;
  border-radius: 25PX;
  margin-top: 10PX;
  margin-right: 10px;
}

.logo {
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar ul{
  margin: 0;
  padding: 12px;
}
.nav-links a .svg_donw{
  stroke: var(--text-color2);
}
.nav-links a,
.theme-toggle {
  background: var(--bg-color3);
  border: none;
  color: var(--text-color2);
  cursor: pointer;
  text-decoration: none;
  font-size: 0.95rem;
  border-radius: 25px;
  width: 50px;
  height: 30px;
}
.navbar .nav-links li a {
  display: flex;                 /* 游댐 clave */
  align-items: center;           /* centra verticalmente */
  justify-content: center;       /* centra horizontalmente */

  gap: 4px;                      /* espacio entre SVG y texto */

  background: var(--bg-color3);
  border: none;
  color: var(--text-color2);
  cursor: pointer;
  text-decoration: none;

  width: 50px;
  height: 20px;
  padding: 5px 8px;
  border-radius: 25px;
  font-size: 12px;
}


.hero {
  padding: 8rem 0rem 0rem 20rem;
  max-width: 1350px;
  min-height: 90.722vh;
  margin: 0;
  background-color: var(--bg-color2);
  clip-path: polygon(0 0, 100% 0, 51% 100%, 0% 100%);
}

.hero h1 {
  font-size: 2.4rem;
  margin-top: 100px;
}

.hero h2 {
  font-weight: 400;
  color: var(--accent-color);
}

.hero p {
  max-width: 600px;
  color: var(--text-color);
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.btn-primary {
  background-color: var(--bg-colorX);
  color: var(--text-color2);
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  text-decoration: none;
  border: 1px solid var(--text-color2);
}

.btn-secondary {
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  text-decoration: none;
}

.about{
  padding: 4rem 2rem;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color4);
  color: var(--text-color2);
  position: relative; /* necesario */
  overflow: hidden;   /* recorta el clip-path */
}
.about::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background:var(--bg-color2); /* color o gradiente */

clip-path: polygon(44.5% 0, 100% 0, 100% 60%, 100% 100%, 25% 100%, 93% 69%, 81% 20%);

  z-index: 0;          /* detr치s del texto */
}
.about > * {
  position: relative;
  z-index: 1;
}

.about p,
.about h2 {
  margin-left: 20rem;
}


.focus {
  padding: 3rem 30rem 3rem 30rem;
  width: auto;
  margin: auto;
  min-height: 100vh;
  background-color: var(--bg-colorfocus);
  color: var(--text-color);
}

.about .ind{
  margin-top: 9rem;
  color: var(--text-color2);
}
.about h2,
.focus h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.about p {
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.focus-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

.focus-grid_b{
  display: block;
}

.focus .focus-grid_b .mf{
  background-color: var(--bg-color6);
  width: 500px;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  display: inline-flex;     
  align-items: center;     
}
.focus .focus-grid_b .mf .mf_icon{
  padding: 8px;
  background-color: var(--bg-colorIcon);
  border-radius: 5px;
  margin-right: 10px;
}

.focus-grid h3 {
  margin-bottom: 0.5rem;
  color: var(--accent-color);
}


.contact {
  padding: 4rem 2rem;
  background: var(--bg-color2);
  text-align: center;
}



.contact h2 {
  color: var(--text-color);
}

.dark .contact h2 {
  color: #f8f9fa;
}

.contact p {
  color: var(--text-color);
  margin-bottom: 2rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.contact-links a {
  display: flex;          /* convierte <a> en contenedor flex */
  align-items: center;    /* centra verticalmente texto + icono */
  gap: 0.5rem;            /* separaci칩n entre icono y texto */
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
}

/* tama침o del icono */
.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;        /* evita que el SVG se reduzca */
}


.footer {
  padding: 1.5rem;
  text-align: center;
  background: var(--bg-color2);
  color: var(--text-color);
  font-size: 0.9rem;
}

.dark .footer {
  background: var(--bg-color2);
  color: #adb5bd;
}


.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; }


.card {
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid var(--border);
  background: var(--bg-card);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 16rem;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--text-color2);
}

.card p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--text-color2);

}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.reveal {
  opacity: 0;
}

.tech-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 0;
  
}
.card ul{
  padding-inline-start: 00px;
}

.tech-list li {
  background: var(--badge);
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  font-size: 0.8rem;
  color: var(--text-color2);
  list-style: none;
}

.btn {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: 500;
  color: var(--text-color2);
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.grid {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.grid_skills {
  display:block;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  background-color: var(--bg-colorskills);
  border-radius: 22px;
  padding: 20px;
}
.grid_skills p {
  color: var(--text-color);
}

.lang-btn {
  background: transparent;
  border: 1px solid var(--text);
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
}

.projects {
  padding: 4rem 30rem 4rem 30rem;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--bg-colorProj);
  color: var(--text-color2);
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--text-color2);
}
.projects .grid_skills .icon-link{
  stroke: var(--text-color);
  color: var(--text-color);
  background-color: var(--bg-color6);
  border-radius: 5px;
}
.icon-link {
  display: inline-flex;     
  align-items: center;     
  justify-content: center;    
  gap: 8px;                   
  text-decoration: none;      
  color: inherit;    
  margin-right: 1rem;         
}

.icon-link:hover {
border-color: white;
box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
color: white;
}


.icon-link .task{
  margin: 4px 12px 4px 12px;
  display: inline-flex;     
  align-items: center;     
  justify-content: center;    
  gap: 8px; 
}