<section class="focus reveal">
  <h2>Mi enfoque</h2>

  <div class="focus-grid">
    <div>
      <h3>Aprendizaje continuo</h3>
      <p>
        Busco fortalecer mis bases técnicas y aprender buenas prácticas
        desde el inicio de cada proyecto.
      </p>
    </div>

    <div>
      <h3>Frontend funcional</h3>
      <p>
        Desarrollo interfaces claras, responsivas y mantenibles,
        priorizando la experiencia de usuario.
      </p>
    </div>

    <div>
      <h3>Bases de Backend</h3>
      <p>
        Trabajo con APIs REST, lógica básica de negocio y conexión
        a bases de datos relacionales.
      </p>
    </div>

    <div>
      <h3>Trabajo orientado a problemas</h3>
      <p>
        Desarrollo proyectos académicos enfocados en resolver
        necesidades concretas.
      </p>
    </div>
  </div>
  <h2>Mi enfoque</h2>
  <div class="focus-grid_b">
    <div class="mf">
      <div class="mf_icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path d="M22 13.478v4.522a3 3 0 0 1 -3 3h-14a3 3 0 0 1 -3 -3v-4.522l.553 .277a20.999 20.999 0 0 0 18.897 -.002l.55 -.275zm-8 -11.478a3 3 0 0 1 3 3v1h2a3 3 0 0 1 3 3v2.242l-1.447 .724a19.002 19.002 0 0 1 -16.726 .186l-.647 -.32l-1.18 -.59v-2.242a3 3 0 0 1 3 -3h2v-1a3 3 0 0 1 3 -3h4zm-2 8a1 1 0 0 0 -1 1a1 1 0 1 0 2 .01c0 -.562 -.448 -1.01 -1 -1.01zm2 -6h-4a1 1 0 0 0 -1 1v1h6v-1a1 1 0 0 0 -1 -1z" />
        </svg>

      </div>
      <p class="mf_text">
        Prácticas profesionales en TI
      </p>
    </div>

    <div class="mf">
      <div class="mf_icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path d="M17 3.34a10 10 0 1 1 -15 8.66l.005 -.324a10 10 0 0 1 14.995 -8.336m-3.658 5.22a1 1 0 0 0 -1.282 .598l-2 5.5a1 1 0 0 0 1.88 .684l2 -5.5a1 1 0 0 0 -.598 -1.282m-4.135 1.233a1 1 0 0 0 -1.414 0l-1.5 1.5a1 1 0 0 0 0 1.414l1.5 1.5a1 1 0 0 0 1.414 0l.083 -.094a1 1 0 0 0 -.083 -1.32l-.792 -.793l.792 -.793a1 1 0 0 0 0 -1.414m7 0a1 1 0 0 0 -1.414 0l-.083 .094a1 1 0 0 0 .083 1.32l.792 .793l-.792 .793a1 1 0 0 0 1.414 1.414l1.5 -1.5a1 1 0 0 0 0 -1.414z" />
        </svg>
      </div>
      <p class="mf_text">
        Posiciones junior de desarrollo web
      </p>
    </div>

    <div class="mf">
      <div class="mf_icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M7 10h3v-3l-3.5 -3.5a6 6 0 0 1 8 8l6 6a2 2 0 0 1 -3 3l-6 -6a6 6 0 0 1 -8 -8l3.5 3.5" />
          </svg>
      </div>
      <p class="mf_text">
        Soporte técnico / mesa de ayuda
      </p>
    </div>

    <div class="mf">
      <div class="mf_icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M3 3v18h18" />
          <path d="M20 18v3" />
          <path d="M16 16v5" />
          <path d="M12 13v8" />
          <path d="M8 16v5" />
          <path d="M3 11c6 0 5 -5 9 -5s3 5 9 5" />
        </svg>
      </div>
      <p class="mf_text">
        Proyectos donde se valore el aprendizaje y el crecimiento técnico
      </p>
    </div>
  </div>

</section>
