<section class="hero">
  <h1>Brayan Nieto Ugarte</h1>

  <h2>
    Egresado de Ingeniería de Sistemas e Informática
  </h2>

  <p>
    Desarrollador Web Junior enfocado en Frontend,
    con bases en Backend y consumo de APIs REST.
  </p>

  <div class="hero-buttons">
    <a href="#projects" class="btn-primary">
      Ver proyectos
    </a>

    <a
      href="/cv/Brayan_Nieto_CV.pdf"
      download
      class="btn-secondary"
    >
      Descargar CV
    </a>
  </div>
</section>
