<nav class="navbar">
  <div class="logo">BN</div>

  <ul class="nav-links">
    <li><a href="#projects">Proyectos</a></li>
    <li><a href="#contact">Contacto</a></li>
    <li>
      <a href="/cv/Brayan_Nieto_CV.pdf" download>
        Descargar CV
      </a>
    </li>
  </ul>
</nav>
