---
import Navbar from "../components/Navbar.astro";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Brayan Nieto | Portafolio</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>

  <body>
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>
